* {
    margin: 0px;
    padding: 0px;
}

body, textarea, input {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

h1 {
    color: #FFF;
    font-size: 60px;
    padding: 45px;
    padding-top: 48px;
    text-align: right;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}

h2 {
    background: #444;
    color: #FFF;
    display: block;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 12pt;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

tbody tr:nth-child(2n+1) {
    background-color: #EEE;
}

thead tr {
    background: #BBB;
}

td, th {
    padding: 5px;
}

.header {
    height: 100px;
    background: #3a4b54;
    overflow: hidden;
    margin-bottom: 40px;
}

.content {
    padding-left: 40px;
    padding-right: 40px;
}

.footer {
    color: #CCC;
    text-align: center;
    font-size: 8pt;
    padding-top: 40px;
    clear: both;
}

.sidebar {
    float: right;
    width: 200px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li a {
    display: block;
    background: #EEE;
    margin-bottom: 4px;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.sidebar li a:hover {
    background: #3a4b54;
    color: #FFF;
    font-weight: bold;
    font-style: normal;
}

.innerContent {
    margin-right: 250px;
}

.message {
    background-repeat: repeat-x;
    border: rgba(0, 0, 0, 0.102);
    border-bottom-color: rgba(0, 0, 0, 0.251);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
    color: #FFF;
    margin: 0 auto;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.error
{
    background-color: #c43c35;
}

.success
{
    background-color: #57a957;
}

.info {
    background-color: #339bb9; 
}

.warning 
{
    background-color: #eedc94; 
    color: #404040;
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.251);
}

a {
    color: #333;
    text-decoration: none;
    font-style: normal;
}

a:hover {
    color: #FF004D;
    font-style: italic;
}

.transRowTranslation textarea, .transRowOriginal textarea {
    background: #FFF;
    border: none;
    width: 400px;
    min-height: 50px;
    outline: none;
    padding: 5px;
}

.transRowTranslation {
    position: relative;
}

ul.projects .active {
    background-color: #3a4b54;
    color: #FFF;
    font-weight: bold;
}

table.translation .green {
    background-color: #99CC81;
    z-index: 1;
}

table.translation .red {
    background-color: #F47E7D;
}

table.translation {
    width: 30%;
    margin: 0 auto;
}

.transRow .success {
    background: transparent;
    color: #57a957;
    display: none;
    position: absolute;
    bottom: 15px;
    right: 20px;
    z-index: 10;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 4px 10px 5px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
  font-style: normal;
}

.btn:focus {
  outline: 1px dotted #666;
}

.actions {
    float: right;
    margin-top: 20px;
}